.container {
  width: calc(95vw - 600px);
  height: 70vh;
  margin: auto auto 5vh auto;
  padding: 1rem 2rem;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  max-width: 420px;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle span {
  margin: 0 4px;
}
