.chartContainer {
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  max-width: 500px;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.controls * {
  font-size: 0.75rem;
}

.toggleWrap {
  width: 250px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 1024px) {
  .root {
    width: calc(95vw - 600px);
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .root::-webkit-scrollbar {
    display: none;
  }

  .controls {
    flex-direction: row;
  }

  .controls * {
    font-size: unset;
  }

  .toggleWrap {
    width: 270px;
    margin-top: unset;
  }
}
