:root {
  --blue: #3ba4ec;
}

@font-face {
  font-family: IndieFlower;
  src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue);
  background: url('../assets/images/cw-bg.png') no-repeat center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}

.react-toggle .react-toggle-track {
  background-color: #ab199f !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #ab199f !important;
}

@media only screen and (min-width: 1024px) {
  .App {
    flex-direction: row;
  }
}
